@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

:root {
  --font-family: 'Roboto Slab', serif;
  --dark-clr: #333;
  --white-clr: #fefefe;
  --linear-clr: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.95));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utilities */

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background-color: var(--dark-clr);
  color: var(--white-clr);
  font-family: var(--font-family);
}

body {
}

.video-bg {
  position: relative;
}
.video {
  width: 100%;
  height: 100vh;
  object-fit: cover;

  position: fixed;
  top: 0;
  left: 0;
}

.text-overlay {
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translateX(-50%);

  width: 100%;
  min-height: 200vh;

  background: var(--linear-clr);

  box-shadow: 0px 0px 10px 5px #000;
}

.text {
  max-width: 1180px;
  width: 90%;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 0;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1rem;
}

.nav-link {
  font-size: 1.5rem;
  color: #fefefe;
}

.logo {
  font-size: 2rem;
  letter-spacing: 0.25rem;
  text-transform: capitalize;
}

.header {
  padding: 6rem 0;
  text-align: center;
}

.header-title {
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-size: 5rem;
  letter-spacing: 1rem;
}

.header-text {
  letter-spacing: 0.25rem;
  font-size: 1.25rem;
}
